@import '../../theme/theme.scss';

.modalContainer {
	position: fixed;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	z-index: 10;
	background-color: #7b6874;
	background-color: $backgroundLight;
	border-radius: $largeRadius;
	box-shadow: $dreamySoftShadow;
	animation: appaering 500ms ease-in-out;

	.modalContent {
		display: flex;
		padding: 100px 40px;
		background-color: transparent;
	}
}

@keyframes appaering {
	0% {
		opacity: 0;
		transform: scale(0.2) translate(-50%, -50%);
	}
	100% {
		opacity: 1;
		transform: scale(1) translate(-50%, -50%);
	}
}
