@import '../../theme/theme';

.landing {
	height: 100vh;
	background-color: $background;
}
.section1 {
	height: 100vh;
	background-color: $section1;
}
.section2 {
	height: 100vh;
	background-color: $section2;
}
.section3 {
	height: 100vh;
	background-color: $backgroundDark;
}
