@import '../../theme/theme.scss';

.positionsContainer {
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 10px;
	padding: 15px;

	.positionButton {
		@include centering;
		padding: 22px;
		font-size: 16px;
		height: 60px;
		width: 60px;
		border-radius: 50px;
		cursor: pointer;
		cursor: url('../../assets/club.png'), auto;
		outline: none;
		border: none;
		color: $white;
		// background-color: $primary;
		background-color: $background;
		box-shadow: 8px 8px 16px #1a1d21, -8px -8px 16px #282b31;
		box-shadow: inset 8px 8px 16px #1a1d21, inset -8px -8px 16px #282b31;

		&:hover {
			// background-color: $primaryHover;
			background-color: $primaryHover;
		}
	}

	.activeButton {
		background-color: $primaryHover;
		box-shadow: inset 4px 4px 16px #1a1d21, inset -4px -4px 16px #282b31;
	}
	.disabled {
		cursor: not-allowed;
		opacity: 0.5;
	}
}

.heroPositions {
	position: fixed;
	left: 0;
	top: 50%;
	transform: translateY(-50%);
}

.villainPositions {
	position: fixed;
	right: 0;
	top: 50%;
	transform: translateY(-50%);
}
