@import '../../theme/theme.scss';

[data-action='fold'] {
	background-color: $fold;
	opacity: 0.8;
}
[data-action='limp'] {
	background-color: $limp;
}
[data-action='call'] {
	background-color: $call;
}
[data-action='allin'] {
	background-color: $allin;
}
[data-action='raise'] {
	background-color: $raise;
}
[data-action='3-bet'] {
	background-color: $_3bet;
}
[data-action='4-bet'] {
	background-color: $_4bet;
}

.handRangeTable {
	box-shadow: $shortShadow;
	box-shadow: $dreamySoftShadow;
	height: 100%;
	// box-shadow: 0 20px 40px 10px rgba($color: #1d1d1d, $alpha: 0.3);

	.row {
		display: flex;
		background-color: $fold;
		user-select: none;

		.cardCell {
			@include centering;
			font-size: 1.2rem;
			// padding: $cellPadding;
			width: $cellWidth;
			height: $cellHeight;
			cursor: cell;
			position: relative;
			justify-content: flex-start;

			.hand {
				font-size: 1.2rem;
				display: inline-block;
				position: absolute;
				top: 50%;
				left: 50%;
				transform: translate(-50%, -50%);
				z-index: 5;
			}

			.multiActions {
				display: inline-flex;
				justify-self: flex-start;
			}

			&:hover {
				// opacity: 0.8;
				box-shadow: 0 0 0 4px rgba($color: #cecece, $alpha: 0.1);
			}
		}
	}
}

.clicked {
	background-color: #ccc;
}
