@import '../../theme/theme.scss';

.row {
	display: flex;

	.cardCell {
		@include centering;

		padding: 12px;
		width: 25px;
		height: 25px;

		&:hover {
			background-color: #ccc;
		}
	}
}

[data-action='fold'] {
	background-color: red;
}

.clicked {
	background-color: #ccc;
}
