@import './theme/theme.scss';

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

.App {
	text-align: center;
	display: flex;
	background-color: $background;
	padding: 50px 300px;
	// background-image: url('./assets/background.jpg');
	// background-repeat: no-repeat;
	// background-size: cover;
}
